
<!doctype html>
<html  lang="zh-CN" prefix="og: http://ogp.me/ns#">
<head>
    <title>奥体网上健身房</title>
   {include file="Common/header"/}

<!-- 导航栏结束 -->



<div class="body">
<div class="wrapper cls">
    <div class="main">

        <div class="list">
          <ul>
            <li>
	          	<h1 class="title"><a href="#" >{$content.ol_name}</a></h1>
				<div class="info"><span>{$content.ol_addtime|date="Y-m-d",###}</span></div>
				<!-- 文章内容 -->

  <div class="thumb">
        <?php echo htmlspecialchars_decode($content['ol_desc']);?>
        <!-- 文章内容 -->
		</div>		
          	</li>
                 
          </ul>
        </div>
  

    </div>


{include file="Common/right"/}
{include file="Common/footer"/}

    


